h1{
    color: white;
  }
h1{
  background-color: black;
}
h2{
  background-color: black;
}
h2{
  color: orange;
}
h3{
  color: white;
}
h3{
  background-color: black;
}
p{
  color: green;
}
p{
  background-color: black;
}